<div class="sidenavbar">
    <h5>Notes</h5>
    <button type="button" class="btn btn-sm btn-outline-success addbtn"
        data-toggle="modal" data-target="#exampleModal">Add</button>
    <input type="search" class="form-control mt-2 mb-2 bg-light" placeholder="Search Notes" name="searchNotes"
        id="search" [(ngModel)]="searchValue" (keyup)="search()">
    <ng-container *ngFor="let item of this.global.notes">
        <ul id="myList">
            <div style="display: flex;">
                <li class="note-title" (click)="this.operation.selectNote(item)">{{item.title}}</li>
                <button type="button" class="btn btn-sm btn-outline-danger delbtn"
                    (click)="this.operation.delete(item)">Delete</button>
            </div>
            <br>
            <li class="note-content" (click)="this.operation.selectNote(item)">{{item.content}}</li>

        </ul>

    </ng-container>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a New Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="id">Id</label>
                <input type="text" name="id" id="id" class="form-control" [(ngModel)]="this.global.addNotes.id" disabled>
                <label for="title">Title</label>
                <input type="text" name="title" id="title" class="form-control"
                    [(ngModel)]="this.global.addNotes.title" required>
                <label for="content">Content</label>
                <input type="text" name="content" id="content" class="form-control"
                    [(ngModel)]="this.global.addNotes.content" required>
                <button type="button" class="btn btn-success mt-2" (click)="this.operation.add()">Add Note</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
            </div>
        </div>
    </div>
</div>